/* CSS declarations go here */

@backgroundColorDefault: #FFF;
@backgroundColorAlt: #EEE;
@backgroundColorHover: #C3DAED;
@backgroundColorSelected: #7DB0D9;

@textColorDefault: #333;
@textColorSub: #999;
@textColorSelected: #fff;

@borderRadius: 4px;
@baseFontSize: 12px;
@smallFontSize: 10px;
@bigFontSize: 16px;
@reallyBigFontSize: 24px;

@baseLineHeight: 14px;
@baseSpacing: 16px;

body {
    padding: 8px;
    font-size: @baseFontSize;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#container.hangout {
    width: auto;
}

.advice {
    font-size: @bigFontSize;
}

.small {
  font-size: @smallFontSize;
}

.rounded-border (@radius: 4px) {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.hangout .topnav {
  display: none;
}

.topnav {
  border-bottom: 1px solid @textColorDefault;
  margin-bottom: 2*@baseSpacing;

  .login {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .top-right {
    text-align: right;
    padding-top: 26px;
  }
}

div.foreign_selection {
  background-color: #99cc99 !important;
}

footer {
  border-top: 1px solid @textColorDefault;
  margin-top: 2*@baseSpacing;

  ul.nav-footer li {
    float: left;
    margin-left: @baseSpacing;
  }

}

.sell {
    padding-left: 2*@baseSpacing;
    padding-right: @baseSpacing;
}

.sellPoint {
  h4 {
    font-size: @reallyBigFontSize;
  }

  p,ol {
    color: @textColorSub;
    /*letter-spacing: 1px;*/
  }
  height: 112px;
  font-size: @bigFontSize;

}


.sellPic {
  img {
    padding: 16px 0;
  }

  input {
    margin: 32px 0;
  }

  button, input.btn {
    margin-left: 24px;
  }
}

.imageFlow {
  padding-left: @baseSpacing;
  padding-right: @baseSpacing;
}

.downArrow img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  width: 48px;
}

input#emailInput {
  margin-bottom: 0;
  margin-right: @baseSpacing;
}



.comingSoon {
    margin-left: 16px;
}

#projectName {
  margin-bottom: @baseSpacing;
}

.fileTree-indent(@numIndents) {
  padding-left: (16px * @numIndents);
}

ul.fileTree {
    margin-left: 0;

    span {
        font-size: @baseFontSize;
    }

    li {
        list-style-type: none;
        background-color: @backgroundColorDefault;
        color: @textColorDefault;

        &:nth-child(odd) {
            background-color: @backgroundColorAlt;
        }

        &:hover {
            background-color: @backgroundColorHover;
        }

        &.selected {
            background-color: @backgroundColorSelected;
            color: @textColorSelected;
        }

        &.modified {
            font-style: italic;
        }

        &.file:before {
            content: url('/images/full_page.png');
        }

        &.directory.open:before {
            content: url('/images/add_to_folder.png');
        }

        &.directory.closed:before {
            content: url('/images/folder.png');
        }

        // TODO: Surely there is a way to match regexs?
        &.level1 { .fileTree-indent(1); } 
        &.level2 { .fileTree-indent(2); } 
        &.level3 { .fileTree-indent(3); } 
        &.level4 { .fileTree-indent(4); } 
        &.level5 { .fileTree-indent(5); } 
        &.level6 { .fileTree-indent(6); }
        &.level7 { .fileTree-indent(7); }
        &.level8 { .fileTree-indent(8); }
        &.level9 { .fileTree-indent(9); }
        &.level10 { .fileTree-indent(10); }
        &.level11 { .fileTree-indent(11); }
        &.level12 { .fileTree-indent(12); }
    }

}

#editorChrome {
}

#editor {
  position: absolute;
  width: 600px;
  height: 400px;
  border-top: 1px solid #aaa;
}

#editorTitleBar {
  max-width: 611px;
  vertical-align: text-bottom;

  a {
    padding-top: 18px;

    &.disabled {
      display: none;
    }
  }
}

#editorFileName {
  width: 600px;
  margin-bottom: @baseSpacing;
  h4 {
      padding-left: @baseSpacing;
  }
}

.btn-primary.disabled, .btn-primary[disabled] {
  background-color: #0044AA;
  color: #CCCCCC;
}

#saveBox {
  width: 48px;
  min-width: 48px;
  padding-top: 8px;
}

#saveImage {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
  cursor:pointer;
  
  &.disabled {
      display: none;
  }  
}

#saveButtonSpinner {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

#saveButton {
/*    margin-left: @baseSpacing; */
}

#addFiles {
  span {
    font-size: @baseFontSize;
  }
}

    
