@backgroundColorDefault: #FFF;
@backgroundColorAlt: #F9F9F9;
@backgroundColorHover: #F5F5F5;
@backgroundColorSelected: rgb(125, 176, 217);

@textColorDefault: #333;
@textColorSelected: #fff;

@borderRadius: 4px;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.li-indent(@numIndents) {
  padding-left: (32px * @numIndents);
}

ul.filetree-top {
  margin-left: 0px;

  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  .rounded-corners(@borderRadius);
}

ul.filetree {
    span {
        font-size: 12px;
    }

    li {
        list-style-type: none;
        background-color: @backgroundColorDefault;
        color: @textColorDefault;
    }

    li:nth-child(odd) {
        background-color: @backgroundColorAlt;
    }

    li:hover {
        background-color: @backgroundColorHover;
    }

    li.selected {
        background-color: @backgroundColorSelected;
        color: @textColorSelected;
    }

    li.selected ul.filetree {
        background-color: @backgroundColorDefault;
        color: @textColorDefault;
    }

    li.file:before {
        content: url('/images/full_page.png');
    }

    li.directory.open:before {
        content: url('/images/add_to_folder.png');
    }

    li.directory.closed:before {
        content: url('/images/folder.png');
    }
    
    li.level1 {
        .li-indent(1);
    }

    li.level2 {
        .li-indent(2);
    }

    li.level3 {
        .li-indent(3);
    }

    li.level4 {
        .li-indent(4);
    }

    li.level5 {
        .li-indent(5);
    }

    li.level6 {
        .li-indent(6);
    }

}


