[submodule "packages/reactive-ace"]
	path = packages/reactive-ace
	url = git@github.com:mad-eye/meteor-reactive-ace.git
[submodule "packages/madeye-common"]
	path = packages/madeye-common
	url = git@github.com:mad-eye/madeye-common.git
[submodule "packages/tty.js"]
	path = packages/tty.js
	url = git@github.com:mad-eye/tty.js.git
[submodule "packages/sharejs/ShareJS"]
	path = packages/sharejs/ShareJS
	url = git@github.com:mad-eye/ShareJS.git
