@import "base.less";

#subscriptionContainer {
  max-width: 670px;

  .plan-name {
    width: 35%;
  }

  .plan-quantity {
    width: 15%;
  }

  .plan-cost {
    width: 35%;
  }

  .plan-subscribe {
    width: 15%;
  }

  .subscription-info {
    padding-bottom: @baseSpacing;
  }
}
