//Default if nothing more specific is found
div.foreign_selection {
  background-color: #99cc99 !important;
}


div.foreign_selection_0 {
  //Light Green
  background-color: #EBEEE5 !important;
}

div.foreign_selection_1 {
  //Light Purple
  background-color: #E6CBEB !important;
}

div.foreign_selection_2 {
  //Light Orange
  background-color: #E3C6B0 !important;
}

div.foreign_selection_3 {
  background-color: #BCE7ED !important;
}

div.foreign_selection_4 {
  //Light Pink
  background-color: #FFBFDD !important;
}

div.foreign_selection_5 {
  background-color: #D5ECCF !important;
}

div.foreign_selection_6 {
  background-color: #E6EADE !important;
}


