@import "base.less";
@errorRed: rgb(153, 2, 2);
@fadedOutput: #999;

#editorChrome {
  position: relative;
}

#editorMenuBar {
  position: relative;

  ul {
    margin: 0; //Override bootstrap
    list-style: none;
    font-weight: bold;
  }
}

@editorMenuHeight: 18px;
#editorMenu {
  position: relative;
  height: @editorMenuHeight;
  border-bottom: @standardBorder;
  //border-bottom-color: @backgroundColorAlt; //Hide this
  background-color: @backgroundColorAlt;
  z-index: 10;

  li {
    float: left;
    padding: 0 @baseSpacing/2;
    position: relative;
    color: @textColorDefault;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: @backgroundColorHover;
    }

    &.divider {
      height: 1px;
      margin: 9px 1px;
      overflow: hidden;
      background-color: #e5e5e5;
      border-bottom: 1px solid #ffffff;
    }

  }

  //Each li of the top nav has L/R padding 5px
  //This makes the space left of the first the same
  //as the spacing between each one
  & > li:nth-child(1) {
    margin-left: @baseSpacing/2;
  }

  //Drop-down menus
  ul {
    position: absolute;
    left: -99999px;
    background-color: @backgroundColorDefault;
    border: @standardBorder;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    li {
      float: none;

      &.disabled {
        color: @textColorSub;
        font-weight: normal;

        &:hover {
          background-color: @backgroundColorDefault;
        }
      }
    }
  }

  li:hover ul  {
    //Display the dropdown on hover
    left: 0; // Bring back on-screen when needed
  }
}

#editorContainer {
  position: relative;
  height: 600px;
  width: 100%;
  border: @standardBorder;
}

#editor {
  position: absolute;
  top: @editorMenuHeight;
  left: 0;
  bottom: 0; //This will be changed if there are contents below.
  right: 0;
}

@overlayWidth: 600px;
@overlayHeight: 200px;
@overlaySpinnerWidth: 48px;
@overlaySpinnerHeight: 48px;

#editorOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0,0,0,0.3);
  z-index: 9999;
  .rounded-border;

  #editorLoadingSpinner {
    position: absolute;
    top: (@overlayHeight - @overlaySpinnerHeight)/2px;
    left: (@overlayWidth - @overlaySpinnerWidth)/2px;
    height: @overlaySpinnerHeight;
    width: @overlaySpinnerWidth;
  }
}

#editorTitleBar {
  vertical-align: text-bottom;
}

#editorFileName {
  width: 600px;
  margin-bottom: @baseSpacing;
  h4 {
      padding-left: @baseSpacing;
  }
}

#measurementDiv {
  visibility: hidden;
  position: absolute;
  line-height: normal;
}

.verticalGradient(@topColor, @bottomColor) {
  background-image: -webkit-linear-gradient(top, @topColor, @bottomColor); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, @topColor, @bottomColor); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, @topColor, @bottomColor); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, @topColor, @bottomColor); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, @topColor, @bottomColor); /* Standard syntax; must be last */
}

//#272829 ?
@darkGrey: #333;
@medDarkGrey: #666;
@medGrey: #999;

#terminal {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: @textColorDefault;
  //font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-family: Consolas, monaco, monospace; 
  //font-family:monospace, prestige;

  //Don't let user resize -- we need control for now.
  .grip {
    display: none;
  }

  //Removing the bar is the easy way to disable multiple terminals.
  .bar {
    display: none;
  }

  .window {
    //padding-top: 15px; //.bar is not displayed
    background-color: @darkGrey;
    .verticalGradient(black, @darkGrey);
    position: relative;
    overflow: auto;
    border: none; //overwrite tty.css

    &:hover {
      .verticalGradient(black, @medDarkGrey);
    }
  }

  &.focused .window {
    .verticalGradient(black, @medGrey);
  }

  .terminal {
    font-size: 12px;
    border: none;
    margin: 5px;

  }

}

#terminalOverlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0,0,0,0.3);
  z-index: 9999;
}

#terminalBusySpinner {
  position: absolute;
}

#createTerminal {
  color: #5fba3d; //Terminal green
  margin-left: @baseSpacing;
}


// EDITOR BAR
#statusBar {
  position: absolute;
  height: 18px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #DCDCDC;
  border-top: @standardBorder;

  font-size: @smallFontSize;
  line-height: @baseLineHeight;
  z-index: 10;
}

.statusBarButton {
  margin: 0 @baseSpacing/2;

  select {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 16px;
    width: 105px;
    font-size: @smallFontSize;
    .rounded-border (0)
  }

  label {
    line-height: @baseLineHeight;
  }

  input {
    margin-top: 1px;
    margin-bottom: 1px;
  }

}

#position {
  width: 30px;
  span {
    line-height: 16px;
  }
}

//The <i> messes with the span height
#showInvisibles {
  margin-top: -3px;
}

.editorBar {

}

.editorBarButton {
  margin: 8px;
  .btn {
    height: 21px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

}

#syntaxMode {
  margin-left: 0;

  form {
    margin: 0;
  }

  select {
    margin: 0;
  }
}

#saveBox {
  margin-left: 0;
  img {
    width: @mediumImageSize;
    height: @mediumImageSize;
  }
}

#saveImage {
  cursor: pointer;
  
  &.disabled {
    .transparent(0.15);
    cursor: default;
  }  
}

#revertDiscard, #runCode {
  margin-right: 0;
}

#revertFile, #discardFile {

  &.disabled {
    .transparent(0.35);
    cursor: default;
  }
}

