@import "base.less";
@errorRed: rgb(153, 2, 2);
@fadedOutput: #999;
@editorBarBackground: #DCDCDC;

#projectContainer {
  height: 100%;

  #leftColumn {
    height: 100%;
  }

  #rightColumn {
    //height: 100%;
    height: 85%;
    // XXX: Less requires this weird syntax for now
    height: calc(~"100% - 60px");
  }
}

#editorChrome {
  position: relative;
  border: @standardBorder;
  height: 85%;
  // XXX: Less requires this weird syntax for now
  height: calc(~"100% - 60px");
}

@barHeight: 18px;
#editorMenuBar {
  position: relative;
  height: @barHeight;
  border-bottom: @standardBorder;
  //border-bottom-color: @backgroundColorAlt; //Hide this
  background-color: @editorBarBackground;

  ul {
    position: absolute;
    margin: 0; //Override bootstrap
    list-style: none;
    font-weight: bold;
  }

  .resizer {
    float: right;
    margin-right: 2px;
  }

}

#editorMenu {
  position: relative;
  //statusBar is 10, need to be higher
  z-index: 11;

  li {
    float: left;
    padding: 0 @baseSpacing/2;
    line-height: @barHeight;
    position: relative;
    color: @textColorDefault;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: @backgroundColorHover;
    }

    &.divider {
      height: 1px;
      margin: 9px 1px;
      overflow: hidden;
      background-color: #e5e5e5;
      border-bottom: 1px solid #ffffff;
    }

    &.selected {
      background-color: @backgroundColorSelected;
      color: @textColorSelected;
    }
  }

  //Each li of the top nav has L/R padding 5px
  //This makes the space left of the first the same
  //as the spacing between each one
  & > li:nth-child(1) {
    margin-left: @baseSpacing/2;
  }

  //Since we pad the sides of each li, we need to offset the drop-downs so they look right
  & > li > ul {
    margin-left: -@baseSpacing/2;
  }

  //Drop-down menus
  ul {
    top: 100%;
    display: none;
    background-color: @backgroundColorDefault;
    border: @standardBorder;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    li {
      position: relative;
      float: none;

      &.disabled {
        color: @textColorSub;
        font-weight: normal;

        //XXX: For some reason this breaks if you take it out of this
        //block, where it seems more natural.
        //Bootstrap3 will probably handle all this for us when
        //we convert.
        &:hover {
          background-color: @backgroundColorDefault;
        }
      }

    }

    //Sub menus
    ul {
      left: 100%;
      top: 0;
    }
  }

  //Display a child menu on parent hover
  li:hover > ul  {
    display: block; // Bring back on-screen when needed
  }

  //These are grouped; the actual elements need outline-like spacing
  li.themeOption {
    padding-left: @baseSpacing*3/2;

    //Except this one, which is not in a group.
    &.notheme {
      padding-left: @baseSpacing/2;
    }
  }

  .actionItem {
    overflow: auto;
    width: 100%;
    //HACK: Need to give enough space for the floated actionKeys
    margin-right: 55px;
  }

  .actionName {
    float: left;
  }
  .actionKey {
    float: right;
  }

}

#editor {
  position: absolute;
  top: @barHeight;
  bottom: @barHeight;
  left: 0;
  right: 0;
  border-top: @standardBorder;
}

@overlayWidth: 600px;
@overlayHeight: 200px;
@overlaySpinnerWidth: 48px;
@overlaySpinnerHeight: 48px;

#editorOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0,0,0,0.3);
  z-index: 9999;
  .rounded-border;

}

#editorTitleBar {
  vertical-align: text-bottom;

  i {
    margin-top: 6px;
  }

  #terminalIcon {
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-top: 6px;
  }
}

#editorFileName {
  width: 600px;
  margin-bottom: @baseSpacing;
  h4 {
      padding-left: @baseSpacing;
  }
}


// EDITOR BAR
#statusBar {
  position: absolute;
  height: @barHeight;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: @editorBarBackground;
  border-top: @standardBorder;

  font-size: @smallFontSize;
  line-height: @baseLineHeight;
  z-index: 10;
}

.statusBarButton {
  margin: 0 @baseSpacing/2;

  select {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 16px;
    width: 105px;
    font-size: @smallFontSize;
    .rounded-border (0)
  }

  label {
    line-height: @baseLineHeight;
  }

  input {
    margin-top: 1px;
    margin-bottom: 1px;
  }

}

#position {
  width: 30px;
  span {
    line-height: 16px;
  }
}

//The <i> messes with the span height
#showInvisibles {
  margin-top: -3px;
}

.editorBar {

}

.editorBarButton {
  margin: 8px;
  .btn {
    height: 21px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

}

#syntaxMode {
  margin-left: 0;

  form {
    margin: 0;
  }

  select {
    margin: 0;
  }
}
