@import "base.less";

body {
    padding: @baseSpacing;
    padding-top: 0px;
    font-size: @baseFontSize;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.small {
  font-size: @smallFontSize;
}

.btn-primary.disabled, .btn-primary[disabled] {
  .transparent(0.20);
}

#container.nonHangout {
  padding-top: 10px;
}

.advice {
  font-size: @bigFontSize;
}

.hangout .topnav {
  display: none;
}

.topnav {
  border-bottom: @darkBorder;
  margin-bottom: @baseSpacing;

  .title {

    h1 {
      margin-top: 0;
      a, a:hover, a:focus {
        text-decoration: none;
        color: @textColorDefault;
      }
    }
  }
  
  ul.nav {
    li {
      padding-left:@baseSpacing;
      margin-top: 20px;
    }
  }

}

footer {
  border-top: @darkBorder;
  margin-top: 2*@baseSpacing;

  ul.nav-footer li {
    float: left;
    margin-left: @baseSpacing;
  }

}


