@import "base.less";

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  padding: 0;
  font-size: @baseFontSize;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.small {
  font-size: @smallFontSize;
}

.btn-primary.disabled, .btn-primary[disabled] {
  .transparent(0.20);
}

#container {
  height: 100%;
  position: relative; 
  //Less requires this weird syntax
  width: calc(~"100% - "4*@baseSpacing);
  padding-left: 2*@baseSpacing;
  padding-right: 2*@baseSpacing;
}

.advice {
  font-size: @bigFontSize;
}

@titleHeight: 50px;
@topNavHeight: @titleHeight + @baseSpacing + 1; //Padding plus border.

.noTopnav .contentContainer {
  height: 100%;
}

.withTopnav .contentContainer {
  //Less requires this weird syntax
  height: calc(~"100% - "@topNavHeight);
}

.topnav {
  position: relative;
  border-bottom: @darkBorder;
  margin-bottom: 0;
  padding-top: @baseSpacing;
  height: @titleHeight;

  .title {

    h1 {
      margin-top: 0;
      a, a:hover, a:focus {
        text-decoration: none;
        color: @textColorDefault;
      }
    }
  }

  ul {
    margin: 0; //Override bootstrap
    list-style: none;
  }
  
  ul.nav {

    li {
      white-space: nowrap;
      cursor: pointer;
    }

    & > li {
      padding-left: @baseSpacing;
      margin-top: 20px;
    }

    //Drop-down menus
    ul {
      position: absolute;
      top: 100%;
      right: 0%;
      display: none;
      background-color: @backgroundColorDefault;
      border: @standardBorder;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      z-index: 12;

      li {
        position: relative;
        float: none;
        padding: 0 @baseSpacing/2;

        &:hover {
          background-color: @backgroundColorHover;
        }

        a {
          text-decoration: none;
          color: @textColorDefault;
        }

      }

      //Sub menus
      ul {
        left: 100%;
        top: 0;
      }
    }

    //Display a child menu on parent hover
    li:hover > ul  {
      display: block; // Bring back on-screen when needed
    }

  }

}

.alert {
  margin-top: @baseSpacing;
  margin-bottom: 0;

  strong {
    font-size: @bigFontSize;
    padding-right: @baseSpacing/2;
  }

  code {
    color: @textColorDefault;
    font-family: monospace;
    background-color: inherit;
    border: none;
  }
}

footer {
  border-top: @darkBorder;
  margin-top: 2*@baseSpacing;

  ul.nav-footer li {
    float: left;
    margin-left: @baseSpacing;
  }

}


