
<div class="container" id="faqContainer">
<h2>
Installation Issues
</h2>

<dl>
  <dt>Can I install MadEye on OS X?</dt>
  <dd>Yes! We’ve tested MadEye thoroughly on OS X 10.6+. Note, you
  must have XCode instaled</dd>

  <dt>Can I install MadEye on Linux?</dt>
  <dd>We use it frequently on Ubuntu, but it should work on any standard Linux distribution that NodeJS supports.
  Note that the default nodejs package on Ubuntu 12.04 is quite out of date (0.6.x); you should consider installing it
  with the <a href="http://nodejs.org/" target="_blank">executable</a>, or
  via <a href="https://launchpad.net/~chris-lea/+archive/node.js/" target="_blank">Chris Lea&apos;s apt repo</a>.</dd>

  <dt>Can I install MadEye on Windows?</dt>
  <dd>Maybe. It should work just fine on Windows 7+, but it
  hasn&apos;t been thoroughly tested and is not officially supported.
  You don&apos;t need to use `sudo` for `npm install`, of course.</dd>

  <dt>Can I install NodeJs using Homebrew?</dt>
  <dd>Yes.  You can install node via Homebrew, but sometimes Homebrew doesn&apos;t include the npm modules on its path.
  Make sure that you include <code>/usr/local/share/npm/bin</code> in your PATH.</dd>

  <dt>What's the minimum version of NodeJS required for MadEye?</dt>
  <dd>v0.8.21</dd>

  <dt>How come I get <code>npm ERR! Error: No compatible version
  found:</code> when I try to install MadEye?</dt>
  <dd>You have an outdated version of NodeJS.  Install the
  <a href="http://nodejs.org/" target="_blank">latest executable</a>.</dd>

  <dt>It says it installed MadEye, but when I type `madeye`, it says "command not found".</dt>
  <dd>Check to make sure that <code>/usr/local/share/npm/bin</code> is in your PATH.</dd>

  <dt>I closed the project accidentally, but I haven&apos;t saved the file yet!</dt>
  <dd>No worries, the unsaved contents of the file are stored behind the scenes.  Just refresh,
  and you should be fine.</dd>

</dl>

</div>
