        <div class="row">
          <div class="span12">
            <footer>
              <div class="pull-right">
                <ul class="nav nav-footer">
                  <li><a href="/get-started">Quick Install</a></li>
                  <li><a href="https://angel.co/madeye" target="_blank">About Us</a></li>
                  <li><a href="http://blog.madeye.io" target="_blank">Blog</a></li>
                  <li><a href="/pages/faq">FAQ</a></li>
                  <li><a href="/pages/tos">Legal Stuff</a></li>
                  <li><a href="mailto:support@madeye.io">Contact Us</a></li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
        <!--
        <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0015/6374.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>
        -->
        {{! Analytics and tracking }}
        {{#if googleAnalyticsId}}
          window._gaq = window._gaq || []
          _gaq.push(['_setAccount', {{googleAnalyticsId}}]
          _gaq.push(['_trackPageview'])
        {{/if}}

      </div> <!-- /container -->
    </div>
  </body>
</html>

