        <div class="row">
          <div class="span12">
            <footer>
              <div class="pull-right">
                <ul class="nav nav-footer">
                  <li><a href="/get-started">Quick Install</a></li>
                  <li><a href="https://angel.co/madeye" target="_blank">About Us</a></li>
                  <li><a href="http://blog.madeye.io" target="_blank">Blog</a></li>
                  <li><a href="/pages/faq">FAQ</a></li>
                  <li><a href="/pages/tos">Legal Stuff</a></li>
                  <li><a href="mailto:support@madeye.io">Contact Us</a></li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
        <script type="text/javascript">
        {{! Analytics and tracking }}
        {{#if googleAnalyticsId}}
          window._gaq = window._gaq || [];
          _gaq.push(['_setAccount', "{{googleAnalyticsId}}"]);
          _gaq.push(['_trackPageview']);
        {{/if}}
        {{#if mixPanelToken}}
          mixpanel.track("home", {page: document.location.pathname})
        {{/if}}
        </script>

      </div> <!-- /container -->
    </div>
  </body>
</html>

