    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections" style="padding-bottom:40px">
                <div class="col-sm-2">
                  &nbsp;
                </div>
                <div class="col-sm-4" style="text-align:center">
                    <h3 class="footer_header">
                        Follow Us on Twitter
                    </h3>
                    <a href="https://twitter.com/_madeye" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @_madeye</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
                <div class="col-sm-4" style="text-align:center">
                    <h3 class="footer_header">
                        Join Our Newsletter
                    </h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="Your email" />
                        <input type="submit" value="Sign Up" />
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="col-md-12">
                    <div class="row copyright">
                        <div class="col-md-12">
                            © 2013 MadEye Inc. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>

    <script type="text/javascript" src="/static/js/index-slider.js"></script>	
</body>
</html>
