      <div class="row">
        <div class="span12">
          <h1>Getting Started</h1>
          <hr>
        </div>
      </div>

      <div class="row sell">
        <div class="span4 sellPoint">
          <h4>Quick Start</h4>
          <ol>
            <li>Verify that you have <a href="http://nodejs.org/">node.js</a> (v0.8.21 or greater) installed.&nbsp;

            </li>
            <li>Type <code>sudo npm install -g madeye</code> in your terminal.&nbsp; MadEye's installed!</li>
            <li>Type&nbsp; <code>madeye</code>&nbsp; in the directory to share</li>
          </ol>
          <p>Now your project is up and running!  Send the URL to your teammates and start editing.</p>
          <p><small>Check out the <a href="/faq">FAQ</a> for more information.</small></p>
        </div>


        <div class="span7 imageFlow">
          <div class="sellPic">
            <img alt="installing madeye" src="/static/images/madeye-install.png">
          </div>
          <div class="sellPic">
            <img alt="terminal view" src="/static/images/madeye-command.png">
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>

      <div class="row sellPoint">
        <div class="span12">
          <hr>
          <h4>How does it work?</h4>
          <p>MadEye watches your project on your file system, keeping it in sync
          with the cloud editor.  It keeps the changes you and your friends make
          in sync with each other as well, so everyone can see what each other
          is doing.  When you're ready, you can save the changes back
          to your file system!
          </p>
        </div>
      </div>

      <div class="row signup">
        <div class="span12">
          <hr>
          <h4>Keep me updated!</h4>
          <p>Sign up for the latest updates.&nbsp;  Don't fret,
          we hate spam as much as you do.&nbsp;  We will only 
          use this to send updates.&nbsp;  And possibly cat videos.
          </p>
          <form id="signupForm">
            <input id="emailInput" type="email" placeholder="Email address" />
            <input type="submit" id="submitEmailButton" class="btn btn-primary" value="Notify me!" />
            <span id="signupFeedback">Received!</span>
          </form>
          <p>Follow us on twitter for releases, interesting new features, and other information!</p>
          <p>

          <a href="https://twitter.com/_madeye" class="twitter-follow-button" data-show-count="false">Follow @_madeye</a>

          </p>
        </div>
      </div>

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript">
      $('#signupForm').submit(function(e) {
          e.preventDefault();
          var email = $('#emailInput').val();
          $.ajax({
      url: '/api/submitEmail',
      type: 'POST',
      data: {email:email},
      success: function(){
      $('#emailInput').hide();
      $('#submitEmailButton').hide();
      $('#signupFeedback').css('color', '#0044cc');
      $('#signupFeedback').html("Thank you for signing up!");
      $('#signupFeedback').show();
      },
      error: function(){
      $('#signupFeedback').html("Sorry, there was an error signing up.  Please try again.");
      $('#signupFeedback').css('color', 'red');
      $('#signupFeedback').show();
      }
      });
          return false;
      });
      </script>
