#faqContainer {
  padding-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
}

dl {
  padding-left: 10px;
}

dt {
  margin-top: 20px;
}

#productSummary {
  margin: 44px;
  padding:15px;
  text-align:center;
}

#logo {
  margin-top: -4px;
  margin-right: 4px;
}
