#faqContainer {
  padding-top: 115px;

  dt {
    margin-top: 20px;
  }
}

#productSummary {
  margin: 44px;
  margin-top: 115px;
  padding:15px;
  text-align:center;
  font-size: 31.5px;
}

#logo {
  margin-top: -4px;
  margin-right: 4px;
}
