<template name="payment">
<h1>Billing</h1>

<div class="account-section">
  <h3>Credit Card</h3>
  {{#each customerCards}}
    {{cardDetails}}
    {{!TODO: Delete card button}}
  {{else}}
    You don&apos;t have a card on file.
    {{!TODO: Add card button}}
  {{/each}}
</div>

<div class="account-section">
<h3>Enterprise Edition</h3>
<ul>
  <li>A MadEye virtual machine that can be installed behind your firewall
  <li>A stable update cycle
  <li>Email and phone support, M-F 9am-6pm Pacific Time
  <li>Just $100 per seat
  <li>30 day free trial
</ul>

  <table class="tablhaspe">
    <thead>
      <tr>
        <td>Plan</td>
        <td># Seats</td>
        <td>Cost/month</td>
      </tr>
    </thead>
    <tbody>
    {{#each availableEnterprisePlans}}
      <tr>
        <td>Enterprise</td>
        <td>{{seats}}</td>
        <td>${{cost}}</td>
        <td>
          {{#if hasPlan}}
            <span>Your Plan</span>
          {{else}}
            <button class="btn btn-primary subscribe-button" data-seats="{{seats}}">{{buttonMessage}}</button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

{{!-- old
<form id="enterpriseSubscription">
  <input type="hidden" name="plan" value="enterprise" />
  <select id="planSelect" name="quantity">
    <option value="10">10 Seats ($1000/month)</option>
    <option value="25">25 Seats ($2500/month)</option>
    <option value="50">50 Seats ($5000/month)</option>
    <option value="100">100 Seats ($10000/month)</option>
  </select>
  <button id="customButton" class="btn btn-primary">Subscribe</button>
</form>
--}}

</template>

