<template name="payment">
<h1>Billing</h1>

<div class="account-section">
  <h3>Credit Card</h3>
  {{#each customerCards}}
    {{cardDetails}}
    <button id="deleteCard" class="btn btn-danger">Delete card</button>
  {{else}}
    You don&apos;t have a card on file.
    {{!TODO: Add card button}}
  {{/each}}
</div>

<div class="account-section">
<h3>Enterprise Edition</h3>
<ul>
  <li>A MadEye virtual machine that can be installed behind your firewall
  <li>A stable update cycle
  <li>Email and phone support, M-F 9am-6pm Pacific Time
  <li>Just $100 per seat
  <li>30 day free trial
</ul>

  <table class="tablhaspe">
    <thead>
      <tr>
        <td>Plan</td>
        <td># Seats</td>
        <td>Cost/month</td>
      </tr>
    </thead>
    <tbody>
    {{#each availableEnterprisePlans}}
      <tr>
        <td>Enterprise</td>
        <td>{{seats}}</td>
        <td>${{cost}}</td>
        <td>
          {{#if hasPlan}}
            <span>Your Plan</span>
          {{else}}
            <button class="btn btn-primary subscribe-button" data-seats="{{seats}}">{{buttonMessage}}</button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <button id="unsubscribe" class="btn btn-danger">Unsubscribe</button>

</template>

