<template name="aceBar">
<div id="aceBar">
  <form class="form-inline">
    <label class="checkbox" >
      <input type="checkbox" id="showInvisibles" {{#if Session 'showInvisibles'}}checked{{/if}} />
      Show Invisibles
    </label>

    <label class="checkbox" >
      <input type="checkbox" id="wordWrap" {{#if Session 'wordWrap'}}checked{{/if}} />
      Word Wrap
    </label>

    <label class="select">
    <select id="fileModeSelect">
      {{> fileModeOptions}}
    </select> SyntaxMode
    </label>
  </form>

  <form class="form-inline">
    <label class="select">
    <select id="themeSelect">
      {{> themeOptions}}
    </select> Theme
    </label>

    <label class="select">
      <select id="keybinding" size="1">
        <option value="ace" {{#unless Session 'keybinding'}}selected{{/unless}}>Ace</option>
        <option value="vim" {{#if SessionEquals 'keybinding' 'vim'}}selected{{/if}}>Vim</option>
        <option value="emacs" {{#if SessionEquals 'keybinding' 'emacs'}}selected{{/if}}>Emacs</option>
        <!--<option value="custom">Custom</option>-->
      </select> Keybindings
    </label>

    <label class="select">
  </form>
</div>
</template>


<template name="themeOptions">
  <option value="">Select theme&hellip;</option>
  <optgroup label="Bright">
    {{#each brightThemes}}
      <option value="{{value}}" {{#if SessionEquals 'theme' value}}selected{{/if}}>{{name}}</option>
    {{/each}}
  </optgroup>
  <optgroup label="Dark">
    {{#each darkThemes}}
      <option value="{{value}}" {{#if SessionEquals 'theme' value}}selected{{/if}}>{{name}}</option>
    {{/each}}
  </optgroup>
</template>

<template name="fileModeOptions">
  <option value="">Select mode&hellip;</option>
  {{#each fileModes}}
  <option value="{{value}}" {{#if SessionEquals 'fileMode' value}}selected{{/if}}>{{name}}</option>
  {{/each}}
</template>
