<template name="statusBar">
<div id="statusBar" class="clearfix">

    <div id="position" class="statusBarButton pull-left">
      <span>({{ editorState.editor.lineNumber }}:{{ editorState.editor.column }})</span>
    </div>

    {{! SYNTAX MODE }}
    <div id="syntaxMode" class="statusBarButton pull-left">
      <form>
          {{> syntaxModeOptions}}
      </form>
    </div>

    {{! Show Invisibles }}
    <div class="statusBarButton pull-left">
      <!--<label class="checkbox" >-->
      <label>
        <input type="checkbox" id="showInvisibles" {{showInvisiblesChecked}} />
        <span title="Show Invisible Characters"><i class="icon-eye-open"></i></span>
      </label>
    </div>


    {{! Word Wrap }}
    <div class="statusBarButton pull-left">
      <label>
        <input type="checkbox" id="wordWrap" {{wordWrapChecked}} />
        <span title="Word Wrap">¬</span>
      </label>
    </div>

    {{! Soft Tabs }}
    <div class="statusBarButton pull-left">
      <label>
        <input type="checkbox" id="useSoftTabs"  {{useSoftTabsChecked}} />
        <span title="Use Soft Tabs">→&nbsp;</span>
      </label>
    </div>

    {{! Tab Size  }}
    <div id="tabSizeButton" class="statusBarButton pull-left">
        <select id="tabSize" class="input-medium" size="1">
          <option value="2" {{tabSizeSelected 2}} >Tab Size: 2</option>
          <option value="4" {{tabSizeSelected 4}} >Tab Size: 4</option>
          <option value="8" {{tabSizeSelected 8}} >Tab Size: 8</option>
        </select>     
    </div>

    {{! Keybinding }}
    <div class="statusBarButton pull-left">
      <form>
        <!--<label class="select">:</label>-->
        <select id="keybinding" class="input-small" size="1">
          <option value="ace" {{keybindingSelected 'ace'}} >Ace Keys</option>
          <option value="vim" {{keybindingSelected 'vim'}} >Vim</option>
          <option value="emacs" {{keybindingSelected 'emacs'}} >Emacs</option>
        </select>
      </form>
    </div>

  </div>

</template>


<template name="themeOptions">
  <li data-theme="" class="themeOption notheme {{#if themeEquals undefined}}selected{{/if}}">No Theme</li>
  <li class="disabled">Bright</li>
  {{#each brightThemes}}
    <li data-theme="{{value}}" class="themeOption {{#if themeEquals value}}selected{{/if}}">{{name}}</li>
  {{/each}}
  <li class="disabled">Dark</li>
  {{#each darkThemes}}
    <li data-theme="{{value}}" class="themeOption {{#if themeEquals value}}selected{{/if}}">{{name}}</li>
  {{/each}}
</template>

<template name="syntaxModeOptions">
<select id="syntaxModeSelect" class="input-medium" size="1">
  <option value="">Select syntax&hellip;</option>
  {{#each syntaxModes}}
    <option value="{{name}}" {{selected}}>
      {{caption}}</option>
  {{/each}}
</select>
</template>
