<template name="editorBar">
  <div id="editorBar" class="clearfix">

    {{! SAVE}}
    <div id="saveBox" class="editorBarButton pull-left">
      {{#if showSaveSpinner}}
        <img id="saveSpinner" src="/images/file-loader.gif" alt="Loading..." />
      {{else}}
        <img id="saveImage" src="/images/save-file_32.png" class="{{buttonDisabled}}"  {{buttonDisabled}} alt="Save file to host computer" title="Save file" />
      {{/if}}
    </div>

    {{! SYNTAX MODE }}
    <div id="syntaxMode" class="editorBarButton pull-left">
      <form>
        <select id="syntaxModeSelect" class="input-medium" size="1">
          {{> syntaxModeOptions}}
        </select>
      </form>
    </div>

    {{! EDITOR SETTINGS }}
    <div id="editorSettings" class="editorBarButton pull-left">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <img alt="Settings" src="/images/cog_16.png"/>
        <span class="caret"></span>
      </a>
      <form class="dropdown-menu">
        <!--<h5>Editor Settings</h5>-->
        <label class="checkbox" >
          <input type="checkbox" id="showInvisibles" {{#if Session 'showInvisibles'}}checked{{/if}} />
          Show Invisibles
        </label>

        <label class="checkbox" >
          <input type="checkbox" id="wordWrap" {{#if Session 'wordWrap'}}checked{{/if}} />
          Word Wrap
        </label>

        <label class="checkbox" >
          <input type="checkbox" id="useSoftTabs"  {{#if editorState.useSoftTabs}}checked{{/if}} />
          Use Soft Tabs
        </label>

        <select id="tabSize" class="input-medium" size="1">
          <option value="2" {{#if tabSizeEquals 2}}selected{{/if}}>Tab Size: 2</option>
          <option value="4" {{#if tabSizeEquals 4}}selected{{/if}}>Tab Size: 4</option>
          <option value="8" {{#if tabSizeEquals 8}}selected{{/if}}>Tab Size: 8</option>
        </select>     

        <select id="themeSelect" class="input-medium" size="1">
          {{> themeOptions}}
        </select>     

        <!--<label class="select">:</label>-->
        <select id="keybinding" class="input-small" size="1">
          <option value="ace" {{#unless Session 'keybinding'}}selected{{/unless}}>Ace Keys</option>
          <option value="vim" {{#if SessionEquals 'keybinding' 'vim'}}selected{{/if}}>Vim</option>
          <option value="emacs" {{#if SessionEquals 'keybinding' 'emacs'}}selected{{/if}}>Emacs</option>
        </select>
      </form>
    </div>

    {{! RUN }}
    {{#if showRunButton}}
      <div id="runCode" class="editorBarButton pull-left">
        <input type="button" class="btn" title="Run the code, and return the result." value="Run" id="runButton" />
      </div>
    {{/if}}

    {{! HANGOUT }}
    {{#unless isHangout}}
      <div id="startHangout" class="editorBarButton pull-left">
        <a id="hangoutLink" href="{{hangoutLink}}" style="text-decoration:none;">
          <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-20x86-normal.png"
               alt="Start a new Hangout"
               title="Start a new Hangout"
               style="border:0;width:86px;height:20px;"/>
        </a>
      </div>
    {{/unless}}

    {{! REVERT/DISCARD }}
    <div id="revertDiscard" class="editorBarButton pull-left">
      {{#unless fileIsDeleted}}
        <a id="revertFile" class="btn {{buttonDisabled}}" title="Revert the file to the state on the host computer." href="#">Revert</a>
      {{else}}
        <a id="discardFile" class="btn {{buttonDisabled}}" title="Discard this file, removing it from the project view" href="#">Discard File</a>
      {{/unless}}
    </div>

  </div>



</template>


<template name="themeOptions">
  <option value="">Select theme&hellip;</option>
  <optgroup label="Bright">
    {{#each brightThemes}}
      <option value="{{value}}" {{#if SessionEquals 'theme' value}}selected{{/if}}>{{name}}</option>
    {{/each}}
  </optgroup>
  <optgroup label="Dark">
    {{#each darkThemes}}
      <option value="{{value}}" {{#if SessionEquals 'theme' value}}selected{{/if}}>{{name}}</option>
    {{/each}}
  </optgroup>
</template>

<template name="syntaxModeOptions">
  <option value="">Select syntax&hellip;</option>
  {{#each syntaxModes}}
  <option value="{{value}}" {{#if SessionEquals 'syntaxMode' value}}selected{{/if}}>{{name}}</option>
  {{/each}}
</template>
