<template name="edit">
  {{> projectStatus}}
    <div class="row">
        <div class="span3">
            {{> fileTree}}
        </div>
        <div id="editorChrome" class="span8">
            {{> editorChrome }}
            {{> editor}}
        </div>
    </div>
</template>

<template name="projectStatus">
  {{#if projectIsLoading}}
    {{> alert projectLoadingAlert}}
  {{/if}}
  {{#if projectIsClosed}}
    {{> alert projectClosedError}}
  {{/if}}
  {{#if fileIsDeleted}}
    {{> alert fileDeletedError}}
  {{/if}}
</template>

<template name="fileTree">
<div id="projectName"><h4>{{projectName}}</h4></div>
<ul class="fileTree">
    {{#each files}}
      <li class="{{fileEntryClass}}" id="{{_id}}">
        <span>{{filename}} {{#if modified}}*{{/if}}</span> 
      </li>
    {{/each}}
</ul>
</template>

<template name="editorChrome">
  <div id="editorTitleBar" class="clearfix">
    <div id="saveBox" class="pull-left">
      <img id="saveImage" src="/images/save-file2.png" class="{{buttonDisabled}}" alt="Save file" title="Save file" />
      {{#if showSaveSpinner}}
        <img id="saveButtonSpinner" src="/images/ajax-loader.gif" alt="Loading..." />
      {{/if}}
    </div>
    <div id="editorTitle" class="pull-left">
      <h4>
        {{editorFileName}}
      </h4>
    </div>
  </div>
</template>

<template name="editor">
  <!-- this hack exists to force a new div block on file swtich {{editorFileName}} -->
  <div id="editor" ></div>
</template>
