<template name="edit">
    <div class="row">
        <div class="span4">
            {{> fileTree}}
        </div>
        <div class="span8">
            {{> editor}}
        </div>
    </div>
</template>

<template name="fileTree">
<ul class="fileTree">
    {{#each files}}
      <li class="{{fileEntryClass}}" id="{{_id}}">
        <span>{{filename}}</span> 
      </li>
    {{/each}}
</ul>

</template>

<template name="fileEntry">
</template>

<template name="editor">
  <div id="editorFileName"><h4>{{fileName}}</h4></div>
  <div id="buttonRow">
    <button id="saveButton" class="btn btn-primary">Save</button>
  </div>
  <div id="editor" ></div>
</template>
