<template name="faq">

<h2>
	Installation Issues
</h2>

<dl>
  <dt>Can I install MadEye on Windows?</dt>
  <dd>You can install it most easily via Cygwin.  It should also work via command.exe.</dd>

  <dt>Can I install MadEye on OS X?</dt>
  <dd>We’ve tested it on 10.8.  It probably works any installation the latest version of NodeJS works on.</dd>

  <dt>Can I install MadEye on Linux?</dt>
  <dd>We use it frequently on Ubuntu, but it should work on any standard Linux distribution that NodeJS supports.</dd>

  <dt>Can I install NodeJs using Homebrew?</dt>
  <dd>Yes!  You can install node via Homebrew, just make sure that you include <code>/usr/local/share/npm/bin</code> in your PATH.</dd>

  <dt>It says it installed MadEye, but when i type `madeye`, it says “command not found”.</dt>
  <dd>Check to make sure that <code>/usr/local/share/npm/bin</code> is in your PATH.</dd>

</dl>

{{> footer}}
</template>
