<template name="getStarted">
<div class="row">
  <div class="span12">
    <h1>Getting Started</h1>
    <hr />
  </div>
</div>
<div class="row sell">
  {{!Left column}}
  <div class="span4 sellPoint">
      <h4>Quick Start</h4>
      <ol>
        <li>Verify that you have <a href="http://nodejs.org/">node.js</a> (v0.8.21 or greater) installed.&nbsp;
        {{!
        (<a href="http://mxcl.github.com/homebrew/">Homebrew</a> users can just&nbsp; <code>brew install node</code> and include <code>/usr/local/share/npm/bin</code> in their PATH.)
        }}
        </li>
        <li>Type <code>sudo npm install -g madeye</code> in your terminal.&nbsp; MadEye&apos;s installed!</li>
        <li>Type&nbsp; <code>madeye</code>&nbsp; in the directory to share</li>
      </ol>
      <p>Now your project is up and running!  Send the URL to your teammates and start editing.</p>
      <p><small>Check out the <a href="/faq">FAQ</a> for more information.</small></p>
  </div>

  {{!Right column}}
  <div class="span7 imageFlow">
    <div class="sellPic">
      <img alt="installing madeye" src="{{staticPrefix}}/static/images/madeye-install.png" />
    </div>
    <div class="sellPic">
      <img alt="terminal view" src="{{staticPrefix}}/static/images/madeye-command.png" />
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>

<div class="row sellPoint">
  <div class="span12">
    <hr>
    <h4>How does it work?</h4>
    <p>MadEye watches your project on your file system, keeping it in sync
        with the cloud editor.  It keeps the changes you and your friends make
        in sync with each other as well, so everyone can see what each other
        is doing.  When you&apos;re ready, you can save the changes back
        to your file system!
    </p>
  </div>
</div>

<div class="row signup">
  <div class="span12">
    <hr>
    <h4>Keep me updated!</h4>
    <p>Sign up for the latest updates.&nbsp;  Don&apos;t fret,
    we hate spam as much as you do.&nbsp;  We will only 
    use this to send updates.&nbsp;  And possibly cat videos.
    </p>
    <form id="signupForm">
      <input id="emailInput" type="email" placeholder="Email address" />
      <input type="submit" id="submitEmailButton" class="btn btn-primary" value="Notify me!" />
      <span id="signupFeedback">Received!</span>
    </form>
    <p>Follow us on twitter for releases, interesting new features, and other information!</p>
    <p>
      {{#constant}}
      <a href="https://twitter.com/_madeye" class="twitter-follow-button" data-show-count="false">Follow @_madeye</a>
      {{/constant}}
    </p>
  </div>
</div>

{{> footer}}

</template>
