<template name="home">
<div class="row">
  <div class="span7 sellPoint">
    <h4>Code together like the Borg (but less scary)</h4>
    <p>
    Share a local project via a URL.&nbsp;  
    Everyone can edit simultaneously, and everyone&apos;s changes appear immediately.&nbsp;
    When finished, save the changes back to your local directory with one click.
    <!--Code simultaneously. &nbsp; Edit your files in a browser. &nbsp;  Save changes back to your-->
    <!--local filesystem.-->
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-editor.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Discover new ways to work</h4>
    <p>Code reviews and pair programming are just the beginning.&nbsp; 
    Need to edit on a remote server and don&apos;t want to use&nbsp; <code>nano</code>?&nbsp;
    Need a designer to look over your CSS?&nbsp;  MadEye&apos;s got you covered.
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-terminal.png" style="display:none"/>
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Easy to use</h4>
    <p>
    <ol>
      <li>Type&nbsp; <code>madeye</code>&nbsp; in the directory to share</li>
      <li>Send the url to your teammates.</li>
    </ol>
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-terminal.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Easy to install</h4>
    <ol>
      <li>Install <a href="http://nodejs.org/">node.js</a> if you don&apos;t already have it.&nbsp;
      (<a href="http://mxcl.github.com/homebrew/">Homebrew</a> users can just&nbsp; <code>brew install node</code>.)</li>
      <li><code>sudo npm install -g madeye</code>.&nbsp; You are good to go!</li>
    </ol>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-install.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Almost alpha!</h4>
    <p>Sign up for the latest updates.&nbsp;  Don&apos;t fret,
    we hate spam as much as you do.&nbsp;  We will only 
    use this to send updates.&nbsp;  And possibly cat videos.
    </p>
  </div>
  <div class="span5 sellPic">
    <form id="signupForm">
      <input id="emailInput" type="email" placeholder="Email address" />
      <input type="submit" id="submitEmailButton" class="btn btn-primary" value="Notify me!" />
      <!--<button id="submitEmailButton" class="btn btn-primary" type="button">Notify me!</button>-->
    </form>
  </div>
</div>

</template>

