<template name="home2">
  <div class="container">
    
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>Code Together with MadEye</h1>
      <img src="/images/hangout_pic.jpg" style="padding-top:15px"/>
      <h3>A web-based editor designed for remote pair programming.</h3>
      <p><a href="/get-started" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="span4">
        <h2>Collaborative</h2>
        <ul>
            <li>Edit simultaneously</li>
            <li>Unlimited number of editors</li>
            <li>Run inside a Google Hangout</li>
        </ul>
      </div>
      <div class="span4">
        <h2>Powerful</h2>
          <ul>
            <li>Syntax highlighting for major file types</li>
            <li>Vim/Emacs key bindings</li>
            <li>Powered by the awesome <a href="http://ajaxorg.github.io/ace/">Ace editor</a></li>
          </ul>
      </div>
      <div class="span4">
        <h2>Lightweight</h2>
          <ul>
            <li>Easy install</li>
            <li>One command to share your project</li>
            {{! <li>Syncs your local files</li> }}
            <li>Augment your existing workflow, don't replace it</li>
          </ul>
      </div>
    </div>

    <hr>
    
    <!-- Hey you, source-reader!  Keeping the design pretty kept us from saying
    everything we'd like, but since you're looking at the HTML anyway...
    
    MadEye 
    -->
    {{> footer}}

  </div> <!-- /container -->
</template>
