<template name="home">
<div class="row">
  <div class="span7 sellPoint">
    <h4>One Command</h4>
    <p>Just type <span class="code">madeye</span> and send the
    url to your teammates. &nbsp;
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-terminal.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Code Together</h4>
    <p>Code simultaneously. &nbsp; Edit your files in a browser. &nbsp;  Save changes back to your
    local filesystem.
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-editor.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>New Ways To Work</h4>
    <p>Code reviews and pair programming are just the beginning. &nbsp; 
    Need to edit on a remote server and don&apos;t want to use <span class=code>nano</span>?&nbsp;
    Need a designer to look over your CSS? &nbsp;  MadEye&apos;s got you covered.
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-terminal.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Almost alpha!</h4>
    <p>Sign up for the latest updates. &nbsp;  Don&apos;t fret,
    we hate spam as much as you do.  We will only 
    use this to send updates.  And possibly cat videos.
    </p>
  </div>
  <div class="span5 sellPic">
    <form id="signupForm">
      <input id="emailInput" type="email" placeholder="Email address" />
      <input type="submit" id="submitEmailButton" class="btn btn-primary" value="Notify me!" />
      <!--<button id="submitEmailButton" class="btn btn-primary" type="button">Notify me!</button>-->
    </form>
  </div>
</div>

</template>

