<template name="home">
<div class="row">
  <div class="span7 sellPoint">
    <h4>One Command</h4>
    <p>Just type <span class="code">madeye</span> and send the
    url to your teammates.  Edit the files in
    your browser.  Save flushes the changes back to your
    local filesystem.  <span class="code">^C</span> kills
    the session.
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-terminal.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Code Together</h4>
    <p>Code simultaneously.  Explore the file tree.  
    See what the other people are highlighting.
    Extend the editor with your own javascript modules.
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-terminal.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Endless Possibilities</h4>
    <p>Code reviews and pair programming are just the beginning.
    Need to edit a remote server and don&apos;t want to use <span class=code>nano</span>?
    Need to fix the config file of a remote PM?  MadEye&apos;s got you covered.
    </p>
  </div>
  <div class="span5 sellPic">
    <img alt="terminal view" src="images/madeye-terminal.png" />
  </div>
</div>
<hr>
<div class="row">
  <div class="span7 sellPoint">
    <h4>Almost alpha!</h4>
    <p>Sign up for the latest updates.  Don&apos;t fret,
    we hate spam as much as you do.  We will only 
    use this to send updates.  And possibly cat videos.
    </p>
  </div>
  <div class="span5 sellPic">
    <form id="signupForm">
      <input id="emailInput" type="email" placeholder="Email address" />
      <input type="submit" id="submitEmailButton" class="btn btn-primary" value="Notify me!" />
      <!--<button id="submitEmailButton" class="btn btn-primary" type="button">Notify me!</button>-->
    </form>
  </div>
</div>

</template>

