<head>
  <title>MadEye</title>
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="/ace/ace.js"></script>
  <script src="/ace/bcsocket-uncompressed.js"></script>
  <script src="/ace/share-uncompressed.js"></script>
  <script src="/ace/share-ace.js"></script>
</head>

<body>
  <div id="container" class="container">
    {{> topnav}}
    <div id="alertBox">{{! Will be populated by displayAlert}}</div>
    {{{renderPage}}}
  </div>
</body>

<template name="topnav">
<div class="row topnav">
  <div class="span9"> 
    <h1>MadEye <small>A new way to code together</small>
    </h1>
  </div>
  <div class="span3">
    <ul class="nav login pull-right">
      {{!Sign in/up}}
      <li>
      {{loginButtons align="right"}}
      </li>
    </ul>
  </div>
</div>
</template>

<template name="alert">
<div class="alert alert-{{level}} fade in">
  {{#unless uncloseable}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{/unless}}
  <strong>{{title}}</strong> {{message}}
</div>
</template>
