<head>
  <title>MadEye</title>
  <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- TODO: Source this lazily, via static prefix -->
  <script src="/static/js/socket.io.js"></script>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
</head>

<body>
  {{! Will be populated by ironRouter}}
</body>

<template name="layout">
  <div id="container" class="container {{#if isHangout}}hangout{{else}}nonHangout{{/if}}">
    {{> topnav }}
    <div id="alertBox"></div>{{! Will be populated by displayAlert}}
    {{yield}}
  </div>
</template>

<template name="topnav">
<div class="navbar topnav clearfix">
  <div class="title pull-left">
    <h1><a href="/">MadEye</a> <small>Remote pair programming</small>
      </h1>
  </div>
  {{> signin}}
</div>
</template>

<template name="signin">
<ul class="nav nav-pills pull-right">
  {{! loginButtons}}
  {{#if hasGoogleLogin}}
    {{#if loggingIn}}
        <li>
        <span>Loading...</span>
        </li>
    {{else}}
      {{#if isLoggedIn}}
        <li>
          <span>{{currentUser.name}}</span>
          <ul>
            {{! <li><a href="/account">My Account</a></li> }}
            <li><a id="signoutButton" href="#">Sign out</a></li>
          </ul>
        </li>
      {{else}}
        {{#if isLoggedOut}}
          <li><span>{{currentUser.name}} (Sign in)</span>
            <ul>
              <li>{{> googleSigninLink}}</li>
            </ul>
          </li>
        {{! else if in transition, show nothing}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}

</ul>
</template>

<template name="alert">
<div class="alert alert-{{level}} fade in">
  {{#unless uncloseable}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{/unless}}
  <strong>{{title}}</strong> {{#if raw}}{{{message}}} {{else}} {{message}} {{/if}}
</div>
</template>

<template name="footer">
<div class="row">
  <div class="span12">
  <footer >
    <div class="pull-right">
      <ul class="nav nav-footer">
        <li><a href="{{pathFor 'getStarted'}}">Quick Install</a></li>
        <li><a href="https://angel.co/madeye" target="_blank">About Us</a></li>
        <li><a href="http://blog.madeye.io" target="_blank">Blog</a></li>
        <li><a href="{{pathFor 'faq'}}">FAQ</a></li>
        <li><a href="{{pathFor 'tos'}}">Legal Stuff</a></li>
        <li><a href="mailto:support@madeye.io">Contact Us</a></li>
      </ul>
    </div>
  </footer>
  </div>
</div>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0015/6374.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
</template>
