<template name="interviewLanding">
  <div class="container">
    <div class="row">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="span12">
        <div class="hero-unit">

        <h1>Finally, a solution for remote code interviews</h1>
        <div class="row">
          <div class="span7">
            <video loop="true" preload="auto" autoplay="true"
                   muted style="max-width:100%; height:auto;
                                padding-top:25px; margin: auto">
              <source src="videos/intro.mp4" type="video/mp4" />
              <source src="videos/intro.webm" type="video/webm" />
            </video>
            <h2>Watch your remote interviewee code</h2>
            <p><a href="/createInterview" class="btn btn-primary btn-large">Start Interview &raquo;</a></p>
          </div>

          <div class="span4 sellPoints">
            <div class="sell">
              <h3>Collaborative</h3>
              <ul>
                  <li>You and the interviewee each have a cursor</li>
                  <li>Run inside a Google Hangout</li>
              </ul>
            </div>
            <div class="sell ">
              <h3>Powerful</h3>
                <ul>
                  <li>Easily execute the interviewee's code</li>
                  <li>Support for Java, Objective&nbsp;C, Python, Ruby, Javascript, CoffeeScript</li>
                  <li>Powered by the awesome <a href="http://ajaxorg.github.io/ace/">Ace editor</a></li>
                </ul>
            </div>
            <div class="sell ">
              <h3>Simple</h3>
                <ul>
                  <li>Start an interview session in seconds</li>
                  <li>Add files from your local filesystem</li>
                  <li>No installation required</li>
                </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

    {{> footer}}

  </div> <!-- /container -->
</template>
