<template name="interview">
  <div id="projectName"><h4 style="float:left; display:inline">Project</h4>{{>smallHangoutButton}}</div>
    <div style="clear:both; height:0px">&nbsp;</div>
    <ul class="fileTree interview">
      {{#each scratchPads}}
      <li id="{{path}}" class="file {{selected}}"><span>{{path}}</span>
        {{#each usersInFile this}}
        <img class="fileTreeUserIcon" alt="" src="{{this.img}}" />
        {{/each}}
      {{/each}}
    </ul>
  <div id="dropzone" class="dropzone">
    <span>Drop a file here to add (or you can click to upload)!</span>
  </div>
  <input id="addFileButton" type="button" class="btn" value="Add file"/>
</template>

<template name="smallHangoutButton">
  <a id="hangoutLink" href="{{hangoutLink}}" style="text-decoration:none; float:right">
    <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-20x86-normal.png"
         alt="Start a new Hangout"
         title="Start a new Hangout"
         style="padding-top: 13px; border:0; border:0;width:86px;height:20px;"
  </a>
</template>
