<template name="interview">
    <div class="row">
        <div class="span3">
          <form action="http://localhost:4004/file-upload/{{projectId}}"
                class="dropzone"
                id="my-awesome-dropzone">
            <ul>
              {{#each scratchPads}}
              <li class="{{selected}}">{{path}}
              {{/each}}
            </ul>
            Drag files here to add!
          </form>
        </div>
        <div id="editorChrome" class="span8">
            {{> editorChrome }}
            {{> editorOverlay }}
            {{> editor}}
        </div>
    </div>
</template>
