<template name="interviewIntro">
  {{#unless Session 'interviewInstructionsClosed'}}
    <div class="row">
      <div class="span12">
        <div id="interviewInstructions" class="well">
          <button id="closeInterviewInstructions" class="close">&times;</button>
          <ul>
            <li>Add interview files in the left sidebar</li>
            <li>Execute these files with the editor&apos;s run button 
              <a id="runTooltip" href="#" data-toggle="tooltip" title="" data-placement="right" data-original-title="Currently we only support running Javascript (nodejs v0.8.22), CoffeeScript (v1.6.2), Ruby (v1.9.3), and Python (v2.7.3)."><i class="icon-question-sign"></i></a>
            </li>
            <li>Give the url to your interviewee, and watch them type!</li>
            <li>You can also embed your interview session in a Google Hangout:&nbsp; {{> smallHangoutButton}}</li>
          </ul>
        </div>
      </div>
    </div>
  {{/unless}}
</template>

